/* Content styles */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

/* Header styles */
h1 {
  font-family: "Jomhuria", serif;
  font-size: 175px;
  font-weight: 400;
  color: white;
  -webkit-text-stroke: 3px #000;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -20px;
  z-index: 2;
}

/* Subheader styles */
h2 {
  font-family: "Sriracha", cursive;
  font-size: 24px;
  font-weight: 400;
  color: white;
  -webkit-text-stroke: 1px #000;
  margin-left: -200px;
  margin-bottom: 0;
  z-index: 2;
}

/* Input styles */
.input-container {
  position: relative;
  display: flex;
  height: 65px;
  width: 500px;
  align-items: center;
  margin-bottom: 10px;
  z-index: 2;
}

input {
  height: 65px;
  width: calc(100% - 40px);
  font-family: inherit;
  font-size: 40px;
  border-radius: 50vw;
  border: 3px solid black;
  padding-left: 20px;
  padding-right: 60px;
  outline: none;
}

.search-button {
  position: absolute;
  margin-top: 5px;
  right: 15px;
  cursor: pointer;
  transition: transform 0.5s ease;
  z-index: 2;
}

.search-button:hover {
  transform: scale(1.05);
}

.search-icon {
  height: 45px;
  z-index: 2;
}

/* List styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
}

.list-item {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFD53F;
  border-radius: 100vw;
  margin: 3px;
  padding: 2px 8px;
  transition: transform 0.5s ease;
}

.list-item:hover {
  transform: scale(1.05);
}

.delete-button {
  padding-left: 2px;
  margin-top: 5px;
  opacity: 25%;
}

.delete-button:hover {
  opacity: 50%;
}

/* Submit container styles */
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}

/* Submit button styles */
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 30px;
  background-color: #98FF98;
  color: black;
  border: 3px solid black;
  border-radius: 50vw;
  box-shadow: 5px 5px #000000;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.5s ease;
}

.submit-icon {
  margin-right: 10px;
}

.submit-button:hover {
  background-color: #8dde8d;
  transform: scale(1.05);
}
