<app-menu></app-menu>

<div class="content">
  <div class="back-button-container">
    <button (click)="goBack()" class="back-button">Back to Home</button>
  </div>

  <h1>Ingredients</h1>
  <div class="ingredient-list">
    <div *ngIf="ingredients.length === 0" class="no-ingredients-message">No ingredients found.</div>
    <div *ngFor="let ingredient of ingredients; index as i" class="list-item">
      <span class="ingredient-text">{{ ingredient.name }}</span>
    </div>
  </div>

  <h1>Recipes</h1>
  <div class="recipe-container">
    <div *ngIf="recipes.length === 0" class="no-recipes-message">No recipes available.</div>
    <div *ngFor="let recipe of recipes" class="recipe-item">
      <img [src]="recipe?.favourite ? 'assets/star-filled.png' : 'assets/star-unfilled.png'"
           alt="Favorite's star" class="star-image" (click)="toggleFavorite(recipe)">
      <div class="recipe-card" (click)="goToRecipe(recipe.id)">
        <h2 class="recipe-name">{{ recipe?.name }}</h2>
        <img [src]="recipe?.image" alt="Recipe Image" class="recipe-image">
        <p class="recipe-description">{{ recipe?.description }}</p>
      </div>
    </div>
  </div>
</div>
