<app-menu></app-menu>

<div class="back-button-container">
  <button (click)="goBack()" class="back-button">Back to Recipes</button>
</div>

<div *ngIf="recipe" class="recipe-detail">
  <h1>{{ recipe.name }}</h1>
  <img [src]="recipe.image" alt="Recipe Image">

  <div *ngIf="!recipe.image" class="image-upload">
    <label> Be the first to upload a picture of {{ recipe.name }}</label>
    <input type="file" class="file-input" *ngIf="!uploadSuccess" (change)="onFileSelected($event)" #fileUpload>
    <button *ngIf="!uploadSuccess" (click)="uploadImage()" class="submit-button {{ selectedFile?.name ? '' : 'disabled-button' }}">Submit</button>
    <div class="file-upload">
      {{selectedFile?.name || "No file uploaded yet."}}
      <div *ngIf="uploadSuccess" class="success-message">
        Image uploaded successfully!
      </div>
      <div *ngIf="uploadError" class="error-message">
        Error uploading image: {{ uploadErrorMessage }}
      </div>
    </div>
  </div>

  <p class="recipe-description">{{ recipe.description }}</p>
  <ng-container *ngIf="recipe.ingredients && recipe.ingredients.length > 0; else elseCondition">
    <h2>Ingredients</h2>
    <ul class="ingredients">
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient?.name }}</li>
    </ul>
  </ng-container>
  <ng-template #elseCondition>
    <p>Ingredients not available</p>
  </ng-template>
  <ng-container *ngIf="recipe.instructions; else elseConditionInstruction">
    <h2>Instructions</h2>
    <ol class="instructions">
      <li>{{ recipe.instructions }}</li>
    </ol>
  </ng-container>
  <ng-template #elseConditionInstruction>
    <p>Instructions not available</p>
  </ng-template>
</div>
