<header class="banner">
  <h3>Intellichef</h3>
  <!-- User Icon with Dropdown -->
  <div class="user-dropdown" (click)="toggleDropdown()">
    <img src="assets/user-icon.png" alt="User Icon" height="83" width="83">
    <!-- Dropdown Content -->
    <div class="dropdown-content" [ngClass]="{'show': showDropdown}">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Account Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="back-button-container">
  <button (click)="goBack()" class="back-button">Back to Recipes</button>
</div>

<!-- Recipe Details -->
<div *ngIf="recipe" class="recipe-detail">
  <h1>{{ recipe.name }}</h1>
  <img [src]="recipe.image" alt="Recipe Image">
  <p class="recipe-description">{{ recipe?.description }}</p>
  <h2>Ingredients</h2>
  <ul class="ingredients">
    <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
  </ul>
  <h2>Instructions</h2>
  <ol class="instructions">
    <li>{{ recipe?.instructions }}</li>
  </ol>
</div>

