/* Global styles and font imports */
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Sriracha&family=Staatliches&display=swap');

/* Body styles */
body {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-size: 30px;
  background-color: #FF5732;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
