/* Global styles and font imports */
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Sriracha&family=Staatliches&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  font-family: "Staatliches", sans-serif;
  background-color: #FF5732;
}
