/* Global styles and font imports */
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Sriracha&family=Staatliches&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-family: "Staatliches", sans-serif; /* Set the default font family */
  background-color: #FF5732;
}

/* Fluid controls */
.fluid-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  filter: url(#goo);
  z-index: 0;
}

.particle {
  width: 100px;
  height: 100px;
  bottom: -20%;
  background-color: #FFD53F;
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  z-index: -1;
  animation: rise 15s infinite;
  transition: transform 3s ease, background-color 1s ease;
}

.particle:hover {
  transform: scale(2);
  background-color: #FFA500;
}

@keyframes rise {
  0% {bottom: -10%;}
  10% {bottom: 0;}
  20% {bottom: 12%;}
  30% {bottom: 24%;}
  40% {bottom: 36%;}
  50% {bottom: 48%;}
  60% {bottom: 60%;}
  70% {bottom: 72%;}
  80% {bottom: 84%;}
  90% {bottom: 96%;}
  100% {bottom: 108%;}
}

@keyframes bubbleDelay {
  0% { animation-duration: 10s; }
  50% { animation-duration: 15s; }
  100% { animation-duration: 20s; }
}

.particle:nth-of-type(n) {
  width: 30px;
  height: 30px;
  animation: rise 15s infinite linear, bubbleDelay 5s infinite;
}

.particle:nth-of-type(2n) {
  width: 50px;
  height: 50px;
  animation: rise 10s infinite linear, bubbleDelay 7s infinite;
}

.particle:nth-of-type(3n) {
  width: 100px;
  height: 100px;
  animation: rise 12s infinite linear, bubbleDelay 9s infinite;
}

.particle:nth-of-type(1) {
  left: 20%;
  animation-delay: 1s;
}

.particle:nth-of-type(2) {
  left: 60%;
  animation-delay: 2s;
}

.particle:nth-of-type(3) {
  left: 15%;
  animation-delay: 3s;
}

.particle:nth-of-type(4) {
  left: 75%;
  animation-delay: 4s;
}

.particle:nth-of-type(5) {
  left: 35%;
  animation-delay: 5s;
}

.particle:nth-of-type(6) {
  left: 50%;
  animation-delay: 6s;
}

.particle:nth-of-type(7) {
  left: 65%;
  animation-delay: 7s;
}

.particle:nth-of-type(8) {
  left: 30%;
  animation-delay: 8s;
}

.particle:nth-of-type(9) {
  left: 55%;
  animation-delay: 9s;
}

.particle:nth-of-type(10) {
  left: 60%;
  animation-delay: 10s;
}

.particle:nth-of-type(11) {
  left: 35%;
  animation-delay: 11s;
}

.particle:nth-of-type(12) {
  left: 80%;
  animation-delay: 12s;
}

.particle:nth-of-type(13) {
  left: 65%;
  animation-delay: 13s;
}

.particle:nth-of-type(14) {
  left: 40%;
  animation-delay: 14s;
}

.particle:nth-of-type(15) {
  left: 85%;
  animation-delay: 15s;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Banner styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  max-width: 100%;
  background-color: #FFD53F; /* Set the background color of the banner */
  color: #000000; /* Set the text color of the banner */
  padding: 0 5px; /* Add padding to the banner */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  z-index: 9999;
}

.banner h3 {
  margin: 0; /* Remove default margin for the heading */
  font-size: 25px;
}

.banner img {
  margin-top: -3px;
  height: 40px; /* Set the height of the user icon */
  width: auto; /* Maintain aspect ratio */
  transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.banner img:hover {
  transform: scale(1.05); /* Scale the image on hover */
}

/* Dropdown styles */
.dropdown-content {
  display: none; /* Start by hiding the dropdown */
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a shadow effect */
  min-width: 100px;
  right: 5px;
  z-index: 1;
}

.dropdown-content.show {
  display: flex; /* Display the dropdown when .show class is added */
  z-index: 2;
}

.user-dropdown {
  margin-top: 10px;
  position: relative; /* Make sure the container is positioned */
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-content ul li {
  border-bottom: 1px solid #c8c8c8;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-content ul li:first-child {
  border-top: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-content ul li:last-child {
  border-bottom: none;
  border-radius: 10px;
}

.dropdown-content ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-content ul li:hover {
  background-color: rgba(255, 213, 63, 0.3); /* Change background color on hover */
}

.back-button {
  position: relative;
  font-family: inherit;
  font-size: 30px;
  background-color: #98FF98;
  color: black;
  border: 3px solid black;
  border-radius: 50vw;
  box-shadow: 5px 5px #000000;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.back-button:hover {
  background-color: #8dde8d;
  transform: scale(1.05);
}
